* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  overflow-x: hidden;
}
.background-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -10;
}
main {
  margin-top: 50px;
  margin-left: 30px;
}
.icon-hospital {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  justify-content: flex-start;
  background-color: rgba(5, 228, 80, 0.623);
}
.use-doctor {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  height: 150px;
}
.avata-doctor img {
  width: 100px;
  height: auto;
  object-fit: cover;
  justify-content: flex-end;
}
.logo-icon {
  display: flex;
  justify-content: center;
  height: 200px;
  width: auto;
  margin-left: 30px;
  margin-bottom: 100px;
}
.logo {
  display: flex;
  flex-direction: column;
  padding: 35px 0 0 20px;
}

/* ---------------Navigation---------------- */
nav {
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
  background-color: rgba(5, 228, 80, 0.623);
  border-bottom: 3px solid transparent;
  color: black;
}

nav ul li a svg {
  margin-bottom: 5px;
}

nav ul li a span {
  font-size: 15px;
}

nav ul li a:hover,
nav ul li a.active {
  border-bottom: 3px solid #045f13;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}
h2 {
  margin-bottom: 15px;
}
/*-----------------------------------------------*/
.form-container {
  display: flex;
  max-width: 1500px;
  height: auto;
  width: 100%;
  margin-bottom: 40px;
  gap: 50px;
  box-sizing: border-box;
  margin-top: 30px;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  font-size: 15px;
  flex: 1;
  min-width: 0;
}
.doctor-infor {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  flex: 1;
  min-width: 0;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(8, 224, 105, 0.4);
  background-color: rgba(5, 228, 80, 0.623);
  overflow: hidden;
  padding: 15px;
}
.doctor-infor h3 {
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px;
}
.text-table {
  max-width: 100%;
  width: 100%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
  white-space: nowrap;
}
.text-table td {
  text-align: left;
}
.text-table thead th {
  border-bottom: 2px solid #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 10px;
  vertical-align: middle;
}
.text-table tbody tr {
  transition: background-color 0.2s ease;
}
.text-table tbody tr:hover {
  background-color: #05a720;
}
.text-table th,
.text-table td {
  border-bottom: 2px solid #fff;
  padding: 10px 10px;
}
.dashboard {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(5, 228, 80, 0.623);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  text-transform: capitalize;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  white-space: normal;
  box-sizing: border-box;
}
.card:hover {
  transform: translateY(-5px);
  background-color: rgba(5, 228, 80, 0.623);
}

label {
  display: block;
  justify-content: center;
}

.form-group {
  display: block;
  margin-bottom: 20px;
}
label {
  font-size: 20px;
  padding-bottom: 10px;
}
input {
  width: 200px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid rgb(5, 124, 9);
  background-color: rgba(2, 90, 42, 0.4);
  color: black;
}
select {
  width: 200px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid rgb(5, 124, 9);
  background-color: rgba(2, 90, 42, 0.4);
  color: black;
}
.nut-luu {
  width: 200px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid rgb(5, 124, 9);
  outline: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ffff;
}
.nut-luu:hover {
  background-color: blue;
  transform: translatey(-5px);
  box-shadow: 0 6px 15px rgba(2, 90, 42, 0.4);
}
.table {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
  white-space: nowrap;
  padding-top: 30px;
  border-bottom: none;
}
.table1 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(8, 224, 105, 0.4);
  max-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 15px 15px 15px;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgba(5, 228, 80, 0.623);
  box-sizing: border-box;
}
.table thead th {
  padding-bottom: 20px;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
  font-size: 15px;
  vertical-align: middle;
}
.table td {
  text-align: left;
}
.table tbody tr {
  transition: background-color 0.2s ease;
}
.table tbody tr:hover {
  background-color: #34cf0d8f;
}
.table th,
.table td {
  border-bottom: 2px solid #ffff;
  padding: 12px 15px;
}
